asgiref==3.11.1
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.5
djangorestframework==3.17.1
drf-spectacular==0.29.0
idna==3.16
inflection==0.5.1
internetarchive==5.8.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
sqlparse==0.5.5
tqdm==4.67.3
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
drf-spectacular==0.26.2
djangorestframework-simplejwt==5.3.0
drf-extensions==0.7.1